@using SSAFE.Infrastructure
@{
    ViewBag.Title = "Phases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Service Section -->
<div class="container-our-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-un">Phases of SDLC</h2>
                @*@{
                    DateTime current_time = DateTime.Parse(DateTime.Now.ToShortTimeString());
                    DateTime Noon = DateTime.Parse("2012/12/12 12:00:00.000");
                    DateTime Evening = DateTime.Parse("2012/12/12 18:00:00.000");
                    if (current_time.TimeOfDay > Noon.TimeOfDay)
                    {
                        if (current_time.TimeOfDay > Evening.TimeOfDay)
                        {
                            <h2 class="title-un">Good Evening, @SessionHelper.UserName</h2>
                        }
                        else
                        {
                            <h2 class="title-un">Good Afternoon, @SessionHelper.UserName</h2>
                        }
                    }
                    else
                    {
                        <h2 class="title-un">Good Morning, @SessionHelper.UserName</h2>
                    }*@
                <div class="title-un-icon"><i class="fa ion-ios-gear-outline"></i></div>
                <p class="title-un-des">A checklist generator is divided into below mentioned phases of lifecycle of your project. You can simply enter into any of these phases and select the security requirements for your project from that particular phase.</p>
            </div>
        </div>
        <div class="row services-box-margin">
            <ul id="myTab" class="nav services-tabs ">
                <li class="active">
                    <a href="#" data-toggle="tab">
                        <div class="service-box-sb wow fadeInUp">
                            <div class="service-icon">
                                <i class="ion-gear-b"></i>
                            </div>
                            <div class="service-info">
                                <h5>@Html.ActionLink("(1) Planning Phase", "Planning", "Phases")</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab">
                        <div class="service-box-sb wow fadeInUp" data-wow-delay=".4s">
                            <div class="service-icon">
                                <i class="ion-stats-bars"></i>
                            </div>
                            <div class="service-info">
                                <h5>@Html.ActionLink("(2) Analysis Phase", "Analysis", "Phases")</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab">
                        <div class="service-box-sb wow fadeInUp" data-wow-delay=".4s">
                            <div class="service-icon">
                                <i class="ion-android-desktop"></i>
                            </div>
                            <div class="service-info">
                                <h5>@Html.ActionLink("(3) Design Phase", "Design", "Phases")</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <br />
                <li>
                    <a href="#" data-toggle="tab">
                        <div class="service-box-sb wow fadeInUp" data-wow-delay=".4s">
                            <div class="service-icon">
                                <i class="ion-social-codepen-outline"></i>
                            </div>
                            <div class="service-info">
                                <h5>@Html.ActionLink("(4) Development Phase", "Development", "Phases")</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab">
                        <div class="service-box-sb wow fadeInUp" data-wow-delay=".4s">
                            <div class="service-icon">
                                <i class="ion-fork-repo"></i>
                            </div>
                            <div class="service-info">
                                <h5>@Html.ActionLink("(5) Testing & Integration Phase", "Testing_Integration", "Phases")</h5>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab">
                        <div class="service-box-sb wow fadeInUp" data-wow-delay=".4s">
                            <div class="service-icon">
                                <i class="ion-android-cloud-done"></i>
                            </div>
                            <div class="service-info">
                                <h5>@Html.ActionLink("(6) Deployment Phase", "Deployment", "Phases")</h5>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="align-center">
                <a class="button" href="@Url.Action("New_Checklist","Checklist")">Generate Checklist</a>
                
            </div>

        </div>
    </div>
</div>
<!-- End Service item -->